@use 'config';



/* estilos globales */
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
nav, header, main, footer, section, article{
    width: 100%;
    max-width: 1920px;
}
section{
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 3rem;
}

/* RECURSO DE TOGGLE HAMBURGUESA */
#toggle {
    display: none;
}
#toggleLabel {    
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;    
    transition: 0.5s;    
    span {
        width: 100%;
        height: 4px;
        border-radius: 3px;
        background-color: config.$color00;
        transition: all 250ms ease-out;
        -webkit-transition: all 250ms ease-out;
        -moz-transition: all 250ms ease-out;
        -o-transition: all 250ms ease-out;
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -o-transform-origin: 0 0;
    }   
}

/* Cuando se activa el checkboxEntonces cambio los estilos de algunos elementos que hay a continuación del propio input checkbox*/

#toggle:checked ~ nav #toggleLabel span:nth-child(3) {
    transform: rotate(-45deg) translate(-1px, 0px);
    -webkit-transform: rotate(-45deg) translate(-1px, 0px);
    -moz-transform: rotate(-45deg) translate(-1px, 0px);
    -o-transform: rotate(-45deg) translate(-1px, 0px);
}
#toggle:checked ~ nav #toggleLabel span:nth-child(2) {
    transform: rotate(0deg) scale(0.2, 0.2);
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
    -moz-transform: rotate(0deg) scale(0.2, 0.2);
    -o-transform: rotate(0deg) scale(0.2, 0.2);
    opacity: 0;
}
#toggle:checked ~ nav #toggleLabel span:nth-child(1) {
    transform: rotate(45deg) translate(0px, -2px);
    -webkit-transform: rotate(45deg) translate(0px, -1px);
    -moz-transform: rotate(45deg) translate(0px, -2px);
    -o-transform: rotate(45deg) translate(0px, -2px);
}
#toggle:checked ~ nav .megamenu{
    height: 90vh;
    opacity: 1;
    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    @media only screen and (min-width:config.$tablet){
        &{
            height: 85vh;
        }
    }  
    @media only screen and (min-width:config.$desktop){
        &{
            height: auto;
        }
    }
}



/* encabezados y otros*/
ul{
    list-style: none;
}
a, a:visited{
    text-decoration: none;
}
h1, h2, h3, h4{
    font-family: config.$fuente02;
}
p, a, span{
    font-family: config.$fuente01;
}
h1{
    font-size: 3rem;
    letter-spacing: 3px;
    text-align: center;
    @media only screen and (min-width:config.$tablet){
        &{
            font-size: 4rem;
        }
    }
    @media only screen and (min-width:config.$desktop){
        &{
            font-size: 9vw;
        }
    }
}

/* clases globales */
.boton{
    padding: 0.5rem 3rem;
    background-color: config.$color03;
    color: config.$color00;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-family: config.$fuente02;
    letter-spacing: 2px;
    transition: 0.5s;
    &:hover{
        background-color: config.$color00;
        color: config.$color03;
    }
}



/* estilos de cada zona */
nav{
    height: 10vh;
    padding: 0.5rem 2rem;
    background-color: config.$color01;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media only screen and (min-width:config.$tablet){
        &{
            height: 15vh;
        }
    }
    @media only screen and (min-width:config.$desktop){
        &{
            height: 8vh;
        }
    }
    >:nth-child(1){
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        img{
            height: 100%;
            max-height: 70px;
        }
    }
    a, p, span{
        color: config.$color00;
    }
    .megamenu{
        width: 100%;
        height: 0;
        opacity: 0;
        overflow: hidden;
        padding: 4rem 1.5rem;
        transition: 1s;
        background-color: config.$color01;
        position: absolute;
        top: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 2rem;
        @media only screen and (min-width:config.$tablet){
            &{
                top: 15vh;
            }
        }     
        @media only screen and (min-width:config.$desktop){
            &{
                top: 130px;
                width: 90%;
            }
        }
        >div{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            row-gap: 2rem;
            @media only screen and (min-width:config.$tablet){
                width: 45%    
            }
            @media only screen and (min-width:config.$desktop){
                width: 30%;
                height: 250px;
                border-right: 2px solid config.$color00; 
            }
            >p{
                font-size: 1.3rem;
                font-family: config.$fuente02;
                letter-spacing: 2px;
            }
            >ul{
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                row-gap: 1rem;
                a{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    column-gap: 1.5rem;
                    transition: 0.5s;   
                    &:hover{
                        filter: invert(58%) sepia(26%) saturate(1036%) hue-rotate(176deg) brightness(98%) contrast(98%);
                    } 
                }
                img{
                    width: 20px;
                    filter: invert(1);                                       
                }
            }            
            .boton{
                padding: 0.3rem 1rem;
                font-size: 1rem;
            }
                                    
        }
        >:nth-child(1){
            
            >ul >li >div{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                column-gap: 1.5rem;
                position: relative;
                cursor: pointer;
                color: config.$color00;
                &:hover .submenu{
                    padding-left: 30px;
                    width: 100%;
                    opacity: 1;
                    width: auto;
                    transition: 0.5s;   
                }
            }
            .submenu{
                position: absolute;
                top: 0;
                left: 100%;
                width: 0;
                overflow: hidden;
                transition: 0.5s;  
            }    
        }
        >:nth-child(2){
            span{
                font-size: 1rem;
            }
            .rrss{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                column-gap: 1rem;
                img{
                    transition: 0.2s;
                    filter: invert(1);                    
                    &:hover{
                        filter: invert(58%) sepia(26%) saturate(1036%) hue-rotate(176deg) brightness(98%) contrast(98%);
                    }                    
                }
            }
        }
        >:nth-child(3){
            border-right: none;
            height: auto;
            form{                
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                row-gap: 1rem;
                input{
                    width: 100%;
                    border: none;
                }
                input[type=text], input[type=email]{
                    padding: 0.3rem 0.5rem;
                    font-size: 1rem;
                    border-radius: 4px;
                }       
            }           
        }               
    }
}

header{
    position: relative;
    height: 100vh;
    >:nth-child(1){
        position: absolute;
        top: 50%;
        transform:translateY(-50%);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 3rem;
        h1{
            color: config.$color00;
            text-shadow: 0px 0px 5px config.$color01;
        }
    }
    >:nth-child(2){
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
    .botonSlider{
        width: 80px;
        filter: invert(1);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.1s;
        cursor: pointer;
        &:active{
            transform: translateY(-50%) scale(0.9);
        }
    }    
    #botonDer{  
        right:3rem;        
    }
    #botonIzd{
        left: 3rem;
    }
}

/* ARTÍCULO TIPO 1 */
.art01{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    @media only screen and (min-width:config.$desktop){
        &{
            width: 80%;
            justify-content: space-between;
        }
    }
    >img{
        width: 100%;
        height: 40vh;
        object-fit: cover;
        object-position: center center;
        @media only screen and (min-width:config.$desktop){
            &{
                width: 50%;
                height: 50vh;
            }
        }
    }
    >:nth-child(2){
        width: 100%;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 1.5rem;
        @media only screen and (min-width:config.$tablet){
            &{                
                h3{
                    width: 100%;
                    text-align: left;
                }
            }
        }
        @media only screen and (min-width:config.$desktop){
            &{
                width: 40%;                
            }
        }
    }
}

/* ARTÍCULO TIPO 2 */
.art02{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap:1rem;
    @media only screen and (min-width:config.$desktop) {
        &{
            width: 80%;
        }
    }
    h3, >p{
        padding: 0 config.$padTexto;
        @media only screen and (min-width:config.$tablet) {
            &{
                width: config.$anchoTexto;
            }
        }
    }
    .matrix3{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 1rem;
        @media only screen and (min-width:config.$desktop){
            &{
                justify-content: space-between;
            }
        }
        >div{
            width: 100%;
            height: 400px;
            overflow: hidden;
            @media only screen and (min-width:config.$tablet){
                &{
                    width: 45%;
                    max-width: 800px;
                }
            }
            @media only screen and (min-width:config.$desktop){
                &{
                    width: 32%;
                }
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: .5s;
                &:hover{
                    transform: scale(1.3);
                }
            }
        }
    }
}

/* ARTÍCULO TIPO 3 */
.art03{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 2rem;
    @media only screen and (min-width:config.$tablet){
        &{
            row-gap: 3rem;
        }
    }
    h3, >p{
        width: 100%;
        text-align: center;
        padding: 0 1.5rem;
        @media only screen and (min-width:config.$tablet){
            width: 80%;
            padding: 0;
        }        
    }
    >:nth-child(3){
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        div, p{
            width: 100%;
            height: 100vw;            
            @media only screen and (min-width:config.$tablet){
                &{
                    width: 50%;
                    height: 50vw;
                }
            }
            @media only screen and (min-width:config.$desktop){
                &{
                    width: 20%;
                    height: 25vw;
                    max-height: 500px;
                }
            }
        }
        :nth-child(odd){
            background-image: url('https://dummyimage.com/500x500');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            @media only screen and (min-width:config.$tablet){
                &{
                    background-image: url('https://dummyimage.com/1200x600');
                }
            }
            @media only screen and (min-width:config.$desktop){
                &{
                    background-image: url('https://dummyimage.com/1800x600');
                }
            }
        }
        :nth-child(even){
            background-color: config.$color01;
            padding: 2rem;            
            color: config.$color00;
            font-size: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            @media only screen and (min-width:config.$desktop){
                &{
                    font-size: 1.5rem;
                }
            }
        }
        :nth-child(3){
            @media only screen and (min-width:config.$tablet){
                &{
                    order: 3;
                }
            }
            @media only screen and (min-width:config.$desktop){
                &{
                    order: initial;
                }
            }
        }
        :nth-child(4){
            @media only screen and (min-width:config.$tablet){
                &{
                    order: 2;
                }
            }
            @media only screen and (min-width:config.$desktop){
                &{
                    order: initial;
                }
            }
        }
        :nth-child(5){
            @media only screen and (min-width:config.$tablet){
                &{
                    display: none;
                }
            }
            @media only screen and (min-width:config.$desktop){
                &{
                    display: initial;
                }
            }
        }             
    }
}















